* {
  font-family: "Andika New Basic", sans-serif;
  letter-spacing: 0.02rem;
  line-height: 1.8rem;
}

/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: #212529 !important;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

#navbar,
#footer,
#carousel_main,
#services,
#portfolio,
#gallery,
#equipments {
  display: block;
  justify-content: center;
}

#carousel_main {
  width: 100%;
  margin: auto;
}

#services,
#portfolio,
#gallery,
#equipments {
  margin-top: 4rem !important;
  width: 80%;
  margin: auto;
}

.subtitle {
  font-weight: 700;
  font-size: x-large;
  color: #585757;
}

.section-header {
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin-top: 2rem !important;
  margin: 0 auto;
  font-size: 700;
  font-weight: bold;
  color: #6c63ff;
  width: 80%;
  text-align: center;
  border-bottom: 1px solid rgba(187, 186, 189, 0.548);
  line-height: 0.1em;
}

.s-card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.section-header > span {
  background: rgb(255, 255, 255);
  padding: 0 10px;
}

.color-love {
  color: #6c63ff;
}


/** css for navbar **/
.nav-link{
    color : #212f3d;
    cursor : pointer;
    font-size: larger;
  }

  .nav-link:hover{
      color: #6c63ff!important;
      font-weight: bolder; 
  }


.navbar-toggler{
  margin-right: 1rem;
}

.navbar-toggler:hover{
  color: #6c1fea;
  font-weight: lighter; 

}


@media screen and (max-width:575px){
.nav-link{

text-align: center;
}
}

#scrollToTopBtn {
  background-color: rgba(190, 34, 34, 0.438);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right:3rem;
}

@media screen and (max-width:1080px){
  #scrollToTopBtn{
  right:0.1rem;
}
}

.arrow{
  color: #6c1fea;
  font-weight: bolder;
  font-size: 2.5rem;
}







