<div class="row d-flex justify-content-center align-items-center">

    <div class="col-sm-4 p-2">
        <div class="card shadow-sm">
          <img
            class="card-img-top s-card"
            src="../Images/equip-1.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text text-center subtitle">
             Movie Cameras
            </p>
          </div>
        </div>
      </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/equip-2.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         Camera Dolly 
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/equip-3.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         Movie and TV Sets
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center align-items-center">

    <div class="col-sm-4 p-2">
        <div class="card shadow-sm">
          <img
            class="card-img-top s-card"
            src="../Images/equip-4.jpeg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text text-center subtitle">
             Camera Cranes
            </p>
          </div>
        </div>
      </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/equip-5.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         Media Production Equipments
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/equip-6.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         Light Reflectors
        </p>
      </div>
    </div>
  </div>
</div>