<div class="container">
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (1).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (1).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (2).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (2).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (3).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (3).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (4).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (4).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (5).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (5).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (6).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (6).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (7).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (7).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (8).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (8).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (9).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (9).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (10).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (10).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (11).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (11).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a
        data-fancybox="gallery"
        href="Images/gallary-image (12).jpeg"
        class="d-block mb-4 h-100"
        ><img
          src="Images/gallary-image (12).jpeg"
          class="img-fluid img-thumbnail"
      /></a>
    </div>
  </div>
</div>
