<div class="portfolio-paragraph">
    <p>
        A Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias esse recusandae sunt nemo iusto adipisci illum maiores reprehenderit laborum nam? Assumenda, fugiat obcaecati. Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio blanditiis cum exercitationem ipsam ad sequi distinctio molestias iure, totam ea sapiente pariatur, dignissimos quam alias. consectetur adipisicing elit.
        Eos nostrum ipsam laudantium ex doloremque, officiis voluptates nemo deleniti necessitatibus alias quaerat quas modi neque voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also known as the Switzerland of Asia, is not only beautiful
        with its snow-capped mountains, crystal-clear lakes, gushing rivers, rare variety of flora and fauna, myriad temples and stupas but equally exotic as well. It’s a Shangri-La where people come with a hope of having a glimpse of Yeti, a mysterious
        abominable snow animal, or even in quest for nirvana or enlightenment. But at the same time it is a country where tradition and modernity intermingle with each other and peoples with diverse languages, religions and cultures co-exist.
    </p>
</div>

<div class="row d-flex justify-content-center align-items-center">

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle1.jpg" class="card-img-top p-card" alt="verticle1" />
            <div class="card-body">
                <p class="card-text text-center">Mangalsutra</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle2.jpg" class="card-img-top p-card" alt="verticle2" />
            <div class="card-body">
                <p class="card-text text-center">Sukha-Dukha</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle3.jpg" class="card-img-top p-card" alt="verticle1" />
            <div class="card-body">
                <p class="card-text text-center">Nepte</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle4.jpg" class="card-img-top p-card" alt="verticle2" />
            <div class="card-body">
                <p class="card-text text-center">Bijay Path</p>
            </div>
        </div>
    </div>

</div>


<div class="portfolio-paragraph">
    <p>
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias esse recusandae sunt nemo iusto adipisci illum maiores reprehenderit laborum nam? Assumenda, fugiat obcaecati. Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio blanditiis cum exercitationem ipsam ad sequi distinctio molestias iure, totam ea sapiente pariatur, dignissimos quam alias. consectetur adipisicing elit.
        Eos nostrum ipsam laudantium ex doloremque, officiis voluptates nemo deleniti necessitatibus alias quaerat quas modi neque voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also known as the Switzerland of Asia, is not only beautiful
        with its snow-capped mountains, crystal-clear lakes, gushing rivers, rare variety of flora and fauna, myriad temples and stupas but equally exotic as well. It’s a Shangri-La where people come with a hope of having a glimpse of Yeti, a mysterious
        abominable snow animal, or even in quest for nirvana or enlightenment. But at the same time it is a country where tradition and modernity intermingle with each other and peoples with diverse languages, religions and cultures co-exist.
    </p>
</div>



<div class="row d-flex justify-content-center align-items-center" id="portfolio-videos">

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/jYOANZ0oZQk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Dash Gajja</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/aSXjv2n3yjw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Darpan Chaya 2</p>
            </div>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-center align-items-center">

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/Few8RsAcQ0Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Bravo Delta Show</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/00_cI2XesW0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Nepte Movie</p>
            </div>
        </div>
    </div>
</div>




<div class="portfolio-paragraph">
    <p>
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias esse recusandae sunt nemo iusto adipisci illum maiores reprehenderit laborum nam? Assumenda, fugiat obcaecati. Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio blanditiis cum exercitationem ipsam ad sequi distinctio molestias iure, totam ea sapiente pariatur, dignissimos quam alias. consectetur adipisicing elit.
        Eos nostrum ipsam laudantium ex doloremque, officiis voluptates nemo deleniti necessitatibus alias quaerat quas modi neque voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also known as the Switzerland of Asia, is not only beautiful
        with its snow-capped mountains, crystal-clear lakes, gushing rivers, rare variety of flora and fauna, myriad temples and stupas but equally exotic as well. It’s a Shangri-La where people come with a hope of having a glimpse of Yeti, a mysterious
        abominable snow animal, or even in quest for nirvana or enlightenment. But at the same time it is a country where tradition and modernity intermingle with each other and peoples with diverse languages, religions and cultures co-exist.
    </p>
</div>

<h5 class="text-center mt-1 portfolio-h5">The Film and Documentary Coordinated by Us:</h5>
<div class="container portfolio-paragraph">
    <p>
        <ul id="list-of-movies">

            <li> 2008 – Italy: Azzurra Music – Beautiful Planet</li>
            <li> 2008 – Japan (YTV) : Gutto!Chikyubin </li>
            <li> 2008 – Polska: Agata and the monks</li>
            <li> 2010 – Japan TV Tokyo: Bee Museum</li>
            <li> 2012 – CBC / TBS – The Earth</li>
            <li> 2013 – TBS TV Japan Chikyu Daikikou</li>
            <li> 2013 – TBS – WORLD HERITAGE</li>
            <li> 2014 – Channel NewsAsia – Days of Rage</li>
            <li> 2014 – TELEVISION NIIGATA NETWORK – Backpacker</li>
            <li> 2015 – TVC – Maerk Verden by Gehoer.dk For JYSK REJSEBUREAU</li>
            <li> 2015 – SNP Media for Net5 TV Channel</li>
            <li> 2016 – Dil Banjara HUM TV Drama Pakistan and more Etc,…</li>
            <li> 2006 – Pakistan: Hotel (TV Serial)</li>
        </ul>
    </p>
</div>

