<div class="portfolio-paragraph">
    <p>
        Classic Cine Universe specializes in arranging and co-ordinating films, documentaries, music videos, 
        dramas and any and all media in Nepal. The main advantage of using us as a media house is the production 
        quality, production facilities and movie studios blend with the cutting age technology. And, all of that
        is easily available at a reasonable cost !

        Here are some new and old movies that we helped shape and create:
        <br>
    </p>
</div>

<div class="row d-flex justify-content-center align-items-center">

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle1.jpg" class="card-img-top p-card" alt="verticle1" />
            <div class="card-body">
                <p class="card-text text-center">Mangalsutra</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle2.jpg" class="card-img-top p-card" alt="verticle2" />
            <div class="card-body">
                <p class="card-text text-center">Sukha-Dukha</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle3.jpg" class="card-img-top p-card" alt="verticle1" />
            <div class="card-body">
                <p class="card-text text-center">Nepte</p>
            </div>
        </div>
    </div>

    <div class="col-sm-3 p-3">
        <div class="card">
            <img src="../Images/verticle4.jpg" class="card-img-top p-card" alt="verticle2" />
            <div class="card-body">
                <p class="card-text text-center">Bijay Path</p>
            </div>
        </div>
    </div>

</div>


<div class="portfolio-paragraph">
    <p>
        Apart from the above mentioned movies, we have also worked on numerous TV shows, talk shows,
         music videos and lots of commercials. We also specialise in location hunting, shooting, documentary, 
         artists, photography, travel films, coordination, film production etc. Below are some of the examples 
         of the videos and movies we’ve worked on: 
    </p>
</div>



<div class="row d-flex justify-content-center align-items-center" id="portfolio-videos">

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/jYOANZ0oZQk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Dash Gajja</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/aSXjv2n3yjw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Darpan Chaya 2</p>
            </div>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-center align-items-center">

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/Few8RsAcQ0Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Bravo Delta Show</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 p-3">
        <div class="card">
            <iframe class="card-img-top v-card" src="https://www.youtube.com/embed/00_cI2XesW0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text text-center">Nepte Movie</p>
            </div>
        </div>
    </div>
</div>

<h5 class="text-center mt-1 portfolio-h5">The Film and Documentary Coordinated by Us:</h5>
<div class="container portfolio-paragraph">
    <p>
        <ul>
            <li>Mangal Sutra</li>
            <li>Sukha Dukha</li>
            <li>Awaj</li>
            <li>Pal Pal Ma</li>
            <li>Kathmandu</li>
            <li>Jindagi</li>
            <li>One Day</li>
            <li>Kasam</li>
            <li>Saurya</li>
            <li>Pariname</li>
            <li>Nepte</li>
            <li>2 numbari</li>
            <li>Dhoon</li>
            <li>Hero 2</li>
            <li>Uff Yo Mann</li>
        </ul>
    </p>
</div>
    <h5 class="text-center mt-1 portfolio-h5">The TV Serials Coordinated by Us:</h5>
<div class="container portfolio-paragraph">
    <p>
        <ul>
            <li>Jire Khursani -Nepal TV</li>
            <li>Bachan -Nepal 1</li>
            <li>Kinara -Nepal TV</li>
            <li>52 Ghussa 53 Thakkar -Nepal TV</li>
            <li>Master Mind -Nepal-1</li>
        </ul>
    </p>
</div>

<div class="portfolio-paragraph">
    <p>
        We have also helped in production of more than <b>500 music videos</b> and <b>TV advertisments</b>. We also co-ordinate
        PPL Live at Himalayan TV and other talk shows like the new popular show <b>Bravo Delta Show</b> in AP1 HD, and <b>Dancing Superstar</b>
        in Himalayan TV. 
    </p>
    <p>
        We have accomplished some international projects as well, as we provided support to <b>Yaara- The Hindi Movie</b> and <b>AdiGuru Sankaracharya</b>.
        We can provide equipments, pre-production and post-production support to all sorts of projects, as we have already done for 100s of commercials
        for multiple banks.
        </div>
    </p>
</div>