<div class="portfolio-paragraph">
  <p>
      Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias esse recusandae sunt nemo iusto adipisci illum maiores reprehenderit laborum nam? Assumenda, fugiat obcaecati. Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio blanditiis cum exercitationem ipsam ad sequi distinctio molestias iure, totam ea sapiente pariatur, dignissimos quam alias. consectetur adipisicing elit.
      Eos nostrum ipsam laudantium ex doloremque, officiis voluptates nemo deleniti necessitatibus alias quaerat quas modi neque voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also known as the Switzerland of Asia, is not only beautiful
      with its snow-capped mountains, crystal-clear lakes, gushing rivers, rare variety of flora and fauna, myriad temples and stupas but equally exotic as well. It’s a Shangri-La where people come with a hope of having a glimpse of Yeti, a mysterious
      abominable snow animal, or even in quest for nirvana or enlightenment. But at the same time it is a country where tradition and modernity intermingle with each other and peoples with diverse languages, religions and cultures co-exist.
  </p>
</div>

<div class="row d-flex justify-content-center align-items-center">

    <div class="col-sm-4 p-2">
        <div class="card shadow-sm">
          <img
            class="card-img-top s-card"
            src="../Images/service-1.svg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text text-center subtitle">
             Movies/Documentaries
            </p>
          </div>
        </div>
      </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/service-2.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         Media Production Equipments
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/service-4.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         TV Ads & Commercials
        </p>
      </div>
    </div>
  </div>
</div>
