<div class="portfolio-paragraph">
  <p>
    For the past couple of decades, Classic Cine has been providing the top
    notch quality equipments and services for the media production. We are
    contributing in the Nepali Flim Industry as well as the foreign production
    houses with our technical and human resources. We provide all production
    equipments related to movie making, ads and commercials, fliming and
    profiling and many more. We also provide the full setup configuration for
    live streaming any programs.
  </p>
</div>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/service-1.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">Fliming</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/service-2.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">Production Tools</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 p-2">
    <div class="card shadow-sm">
      <img
        class="card-img-top s-card"
        src="../Images/service-4.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">Advertisements</p>
      </div>
    </div>
  </div>
</div>
